* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #F7BFD5;
    color: #f6e27d;
}

.logo{
    display: flex;
    justify-content: space-between;

    width: 80%;
    max-width: 270px;
    padding: 5rem 0 1rem 0;
    margin: auto;
}

.form-login {
    width: 80%;
    max-width: 350px;
    margin: auto;
    padding: 1rem;
    border-radius: 8px;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    box-sizing: border-box;

    background-color: rgba(0, 0, 255, 0.252);
}

.form-login .linha-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-login .ipt {
    /*Para estilizar as caixas de texto. */
    background-color: #644394;
    border: #644394;
    color: #FFF0A6;
    font-size: 1rem;

    border-radius: 0.5rem;
    padding: 0.6rem;
}

.btnPrimario {
    background-color: #FFF0A6;
    border: #FFF0A6;
    color: #644394;
    font-size: 24px;

    padding: 0.5rem;
    border-radius: 8px;
}
